:root{font-size:9pt;font-family:arial,helvetica,sans-serif}
body{color:#cdd6f4;background:#1e1e2e;padding:2px;margin:0;text-align:center}
a{color:#f5e0dc}
a:hover{color:#f2cdcd}
hr{background:#cdd6f4;height:1px;border:none}


/* input */
input,select,option,optgroup,textarea{color:#cdd6f4;background-color:#1e1e2e;outline:none}
input[type="button"],input[type="submit"]{min-height:26px;line-height:20px;padding:1px 5px 2px;margin:0 2px;border:2px solid #8d8d8d;border-radius:3px;font-size:9pt}
input[type="button"]:enabled:hover,input[type="submit"]:enabled:hover,select:enabled:hover,input[type="button"]:enabled:focus,input[type="submit"]:enabled:focus,select:enabled:focus{background-color:#43464e !important;border-color:#aeaeae !important}
input[type="button"]:enabled:active,input[type="submit"]:enabled:active{background:radial-gradient(#1a1a1a,#43464e) !important;border-color:#c3c3c3 !important}
select{font-weight:bold;padding:4px;min-height:27px;margin:0 1px 1px;border:2px solid #8d8d8d;border-radius:3px;font-size:9pt}
input[type="text"],input[type="date"],input[type="password"],textarea{border:2px solid #8d8d8d;margin:3px 1px 0;padding:1px 3px 3px;border-radius:3px}
input:disabled,select:disabled,textarea:disabled{color:#8a8a8a;-webkit-text-fill-color:#8a8a8a;opacity:1}
input::placeholder,textarea::placeholder{color:#8a8a8a;-webkit-text-fill-color:#8a8a8a;opacity:1}
input[type="text"]:enabled:hover,input[type="date"]:enabled:hover,input[type="password"]:enabled:hover,textarea:enabled:hover,input[type="text"]:enabled:focus,input[type="date"]:enabled:focus,input[type="password"]:enabled:focus,textarea:enabled:focus{background-color:#43464e}
.lc:hover input:enabled ~ span,.lr:hover input:enabled ~ span,.lc input:enabled:focus ~ span,.lr input:enabled:focus ~ span{background-color:#43464e !important;border-color:#aeaeae !important}
.lc input:disabled ~ span,.lr input:disabled ~ span{border-color:#5c5c5c !important}
.lc>span{position:absolute;top:0;left:0;height:20px;width:20px;background-color:#1e1e2e;border:2px solid #8d8d8d;border-radius:3px}
.lc>span:after{content:"";position:absolute;display:none;left:6px;top:2px;width:6px;height:10px;border:solid #cdd6f4;border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.lr>span{position:absolute;top:0;left:0;height:20px;width:20px;background-color:#1e1e2e;border:2px solid #8d8d8d;border-radius:50%}
.lr>span:after{content:"";position:absolute;display:none;top:5px;left:5px;width:10px;height:10px;border-radius:50%;background:#cdd6f4}
input[type="file"]{border:2px solid #8d8d8d;border-radius:3px;position:relative;top:1px;outline:0}


/* misc */
.br{color:#FF3333;font-weight:bold;text-align:center}
.stuffbox{background:#4f535b;border:1px solid #11111e}



/* rating */
div.ir{width:80px;height:16px;background-repeat:no-repeat;background-image:url(/img/rt.png)}
div.irr{background-image:url(/img/rtr.png)}
div.irb{background-image:url(/img/rtb.png)}
div.irg{background-image:url(/img/rtg.png)}

div.ido{background:#4f535b;border:1px solid #11111e;text-align:justify;min-width:740px;max-width:1200px;margin:10px auto 5px;padding:5px;position:relative}


/* index search/navigation */
.searchwarn{font-size:10pt;color:#FB7878;margin:2px auto 5px;text-align:center}
.searchnav div>span{color:#777}
#rangebar{margin:5px auto;padding:2px;width:720px;height:15px;display:flex;flex-direction:row;justify-content:space-evenly;align-items:center;background:#575b62;border-radius:8px}
#rangebar div{height:10px;width:10px;background:#f5e0dc45;border-radius:50%}
#rangebar div[data-inrange]{background:radial-gradient(#f5e0dcF2,#f5e0dcA1)}
#rangebar a:hover>div{background:#f2cdcd}


/* navbar */
#nb{margin:auto;padding:4px 10px 0;text-align:center;font-size:10pt;font-weight:bold;color:#AAAAAA;white-space:nowrap;overflow:hidden;width:710px;display:flex;flex-direction:row;justify-content:space-around;align-items:center;flex-wrap:wrap;line-height:19px;min-height:19px;max-height:19px}
#nb>div{background-image:url(/img/mr.gif);background-repeat:no-repeat;background-position:left center;padding:0 14px 0 7px}


/* shared table stuff */
div.itg{width:99%;border-collapse:collapse;margin:0 auto;padding:3px;border-top:2px ridge #3c3c3c;border-bottom:2px ridge #3c3c3c}
table.itg{max-width:1180px;width:99%;border-collapse:collapse;margin:0 auto;padding:3px;border:2px ridge #3c3c3c;font-size:9pt;text-align:left}
table.itg>tbody>tr>th{font-weight:bold;padding:3px 4px;background:#40454b}
table.itg>tbody>tr:nth-child(2n+1),table.itg>tbody>tr:nth-child(2n+1) .glthumb,table.itg>tbody>tr:nth-child(2n+1) .glcut{background:#363940}
table.itg>tbody>tr:nth-child(2n+2),table.itg>tbody>tr:nth-child(2n+2) .glthumb,table.itg>tbody>tr:nth-child(2n+2) .glcut{background:#3c414b}
table.mt{border:1px solid #11111e;background:#40454b;border-collapse:collapse}
table.mt>tbody>tr:nth-child(2n+1){background:#363940}
table.mt>tbody>tr:nth-child(2n+2){background:#3c414b}
tr.gtr,table.mt>tbody>tr:first-child{background:#40454b !important}
td.itd{text-align:left;padding:3px 4px;border-right:1px solid #6f6f6f4d}

/* login boxes */
div.d{margin:200px auto auto auto;width:400px;text-align:center;border:1px solid #11111e;background:#4f535b;padding:10px}
div.ds{margin:100px auto auto auto;width:300px;text-align:center;border:1px solid #11111e;background:#4f535b;padding:10px}

/* index */
div.idi{margin:auto;width:720px;border-collapse:collapse;margin:0px auto 8px auto;padding:5px;border:2px ridge #3c3c3c;text-align:center}


/* gallery list */
a:visited .glink,a:active .glink{color:#BBBBBB}
a:hover .glink{color:#f2cdcd}
.glname a :not(.glink),a .glname :not(.glink){color:#f5e0dc}
.glcat{padding:0 1px 0 2px;border-right:1px solid #6f6f6f4d}

.glthumb{visibility:hidden;z-index:98;position:absolute;width:258px;display:flex;flex-direction:column;padding:5px 0;font-size:8pt;border-radius:8px;border:2px solid #6f6f6f4d}
.glthumb>div:nth-child(1){overflow:hidden;border-radius:5px;margin:0 auto;border:1px solid #11111e}

.gltc>tbody>tr>td,.glte>tbody>tr>td{position:relative;padding:3px 4px;border-right:1px solid #6f6f6f4d}
.gltm>tbody>tr>td{position:relative;padding:2px 4px;border-right:1px solid #6f6f6f4d}

.gl1c,.gl2c,.gl3c,.gl4c,.glfc{border-top:1px solid #6f6f6f4d;border-bottom:1px solid #6f6f6f4d}

.gl1e,.gl2e,.glfe{border-top:1px solid #6f6f6f4d;border-bottom:1px solid #6f6f6f4d}
.gl1e>div{overflow:hidden;border-radius:5px;margin:0 0 0 auto;border:1px solid #11111e}
.gl4e{border-left:1px solid #6f6f6f4d}

.gld{display:flex;flex-wrap:wrap;align-items:stretch;padding:0 !important;border-left:1px solid #6f6f6f4d}

.gl1t{min-height:200px;padding-bottom:2px;min-width:267px;max-width:267px;display:flex;flex-direction:column;border-right:1px solid #6f6f6f4d;border-bottom:1px solid #6f6f6f4d}
.gl3t{overflow:hidden;border-radius:5px;margin:3px auto 0;border:1px solid #11111e}

.gl1t:nth-child(2n+1){background:#363940}
.gl1t:nth-child(2n+2){background:#3c414b}


/* category buttons */
.cs{user-select:none;display:inline-block;text-align:center;vertical-align:middle;white-space:nowrap;height:20px;line-height:20px;font-size:9pt;border-radius:0.1875rem;color:#cdd6f4;box-shadow:0 1px 3px rgba(0,0,0,.3);text-shadow:2px 2px 3px rgba(0,0,0,.3);width:121px;letter-spacing:1px;font-weight:bold;cursor:pointer}
.cn{user-select:none;display:inline-block;text-align:center;vertical-align:middle;white-space:nowrap;height:35px;line-height:35px;font-size:9pt;border-radius:0.1875rem;color:#cdd6f4;box-shadow:0 1px 3px rgba(0,0,0,.3);text-shadow:2px 2px 3px rgba(0,0,0,.3);width:108px;letter-spacing:1px;font-weight:bold;cursor:pointer}
.cw{user-select:none;display:inline-block;text-align:center;vertical-align:middle;white-space:nowrap;height:35px;line-height:35px;font-size:9pt;border-radius:0.1875rem;color:#cdd6f4;box-shadow:0 1px 3px rgba(0,0,0,.3);text-shadow:2px 2px 3px rgba(0,0,0,.3);width:200px;letter-spacing:1px;font-weight:bold;cursor:pointer}
.ct0{background:#11111e}
.ct1{background:#777777;border-color:#777777} /* misc */
.ct2{background:#9E2720;border-color:#9E2720} /* doujinshi */
.ct3{background:#DB6C24;border-color:#DB6C24} /* manga */
.ct4{background:#D38F1D;border-color:#D38F1D} /* artistcg */
.ct5{background:#6A936D;border-color:#617C63} /* gamecg */
.ct6{background:#325CA2;border-color:#325CA2} /* imageset*/
.ct7{background:#6A32A2;border-color:#6A32A2} /* cosplay */
.ct8{background:#A23282;border-color:#A23282} /* asianporn */
.ct9{background:#5FA9CF;border-color:#5FA9CF} /* nonh */
.cta{background:#AB9F60;border-color:#AB9F60} /* western */


/* page selector */
table.ptt{padding:0px;border-collapse:collapse;clear:both;color:#cdd6f4;font-size:10pt}
table.ptt td{text-align:center;height:15px;width:31px;background:#1e1e2e;cursor:pointer;border:1px solid #11111e;border-bottom:0}
table.ptt td:hover{color:#11111e;background:#43464e}
table.ptt a{text-decoration:none}
table.ptt span{color:#C2A8A4}

table.ptb{padding:0px;border-collapse:collapse;clear:both;color:#cdd6f4;font-size:10pt}
table.ptb td{text-align:center;height:15px;width:31px;background:#1e1e2e;cursor:pointer;border:1px solid #11111e;border-top:0}
table.ptb td:hover{color:#11111e;background:#43464e}
table.ptb a{text-decoration:none}
table.ptb span{color:#C2A8A4}

td.ptds{font-weight:bold;font-size:11pt;color:#11111e !important;background:#43464e !important}

td.ptdd{color:#C2A8A4 !important}
td.ptdd:hover{color:#C2A8A4 !important;background:#1e1e2e !important}

/* gallery */
a.tup{color:#00E639}
a.tdn{color:#FF3333}
span.tup{color:#00E639}
span.tdn{color:#FF3333}
.gm{background:#4f535b;border:1px solid #11111e;text-align:justify;min-width:720px;max-width:1200px;margin:10px auto;padding:3px 5px;position:relative}
#gmid{float:right;width:930px;height:330px;position:relative;background:#4f535b;z-index:2}
#gd1{float:left;width:255px;height:375px;padding:5px 0 0 10px;display:flex;justify-content:center;align-items:center}
#gd1 div{border:1px solid #11111e;margin:1px auto 0}
#gd2{background:#4f535b;font-weight:bold;text-align:center;float:right;width:925px;min-height:50px;overflow:hidden;padding:0;margin:0;position:relative;z-index:2}
#gj{font-size:10pt;padding:0 0 2px;margin:3px 15px;color:#b8b8b8;border-bottom:1px solid #11111e}
#gd4{font-size:8pt;float:left;width:580px;padding:0 0 0 5px;margin:0 0 0 10px;vertical-align:top;border-left:1px solid #11111e;border-right:1px solid #11111e}
#gdt{background:#4f535b;border:1px solid #11111e;min-width:700px;max-width:1180px;margin:0 auto;clear:both;padding:15px}
#gdt img{border:1px solid #11111e;margin:-1px;padding:0}
.gt100 div[title],.gt200 div[title],.gt400 div[title]{border:1px solid #11111e}
.g3 a{text-decoration:none;font-weight:bold;color:#FF4A4A}
.g3 a:hover{color:#FF6464}
#gnc{text-align:center;padding-top:75px;color:#CCCCCC}
div.gt{float:left;font-weight:bold;padding:1px 4px;margin:0 2px 5px 2px;position:relative;border-radius:5px;border:1px solid #989898;background:#4f535b}
div.gtl{float:left;font-weight:bold;padding:1px 4px;margin:0 2px 5px 2px;position:relative;border-radius:5px;border:1px dashed #8c8c8c;background:#4f535b}
div.gtw{float:left;font-weight:bold;padding:1px 4px;margin:0 2px 5px 2px;position:relative;border-radius:5px;border:1px dotted #8c8c8c;background:#4f535b}
#gds{overflow:auto;text-align:justify;height:169px;width:620px;padding:2px 3px;background:#4f535b}
#grl{color:#FF3333;font-weight:bold}
div.c2{font-weight:bold;background:#1e1e2e;border:1px solid #4f535b}
.ths{font-weight:bold;padding:3px 2px;margin:0 2px 4px 2px;white-space:nowrap;float:left;border-radius:5px;text-align:center;font-size:10pt;border:1px solid #989898;background:#4f535b}
.tha{font-weight:bold;padding:3px 2px;margin:0 2px 4px 2px;white-space:nowrap;float:left;border-radius:5px;text-align:center;font-size:10pt;border:1px solid #706563;cursor:pointer}
.tha:hover{background:#4f535b;color:#11111e}
.thd{font-weight:bold;padding:3px 2px;margin:0 2px 4px 2px;white-space:nowrap;float:left;border-radius:5px;text-align:center;font-size:10pt;border:1px solid #706563;color:#706563}


/* image pages */
div.sni{background:#4f535b;border:1px solid #11111e;text-align:center;margin:2px auto 6px;padding:5px 0;min-width:500px;position:relative;z-index:1}
