package index

import (
	"gotthtest/views/layouts"
)

templ Index() {
	@layouts.Base() {
		<div class="flex items-center">
			<div>
				<strong>Andrew Alfred</strong>
				<span>Technical advisor</span>
			</div>
		</div>
		
	}
}